
@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<ul>
    <li>
        <a href="http://www.spotify.com">spotify 1</a>
    </li>
    <li>
        <a href="#">link 2</a>
    </li>
    <li>
        <a href="#">link 3</a>
    </li>
    <li>
        <a href="#">link 4</a>
    </li>

</ul>

